

.main-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.citi-name{
    font-size: 20px;
    font-weight: bold;
}

.current-date, .current-time{
    font-size: 13px;
    margin-top: 5px;
}

.current-weather-inf{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.cur-weather-icon, .cur-weather-icon img{
    width: 90px;
    height: 90px;
}

.cur-weather-temp{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cur-weather-descrip{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


